services:
  k6:
    build: .
    image: k6-ts:latest
    environment:
      TARGET_URL: "https://test.k6.io"
      TEST_TYPE: "load" # load|stress|spike|soak
      LOAD_VUS: "30"
      SPIKE_PRE_VUS: "100"
      SPIKE_MAX_VUS: "1000"
      SOAK_RATE: "10"
      SOAK_DURATION: "2h"
      SOAK_PRE_VUS: "50"
      SOAK_MAX_VUS: "200"
      SLEEP: "1"
    volumes:
      - ./results:/results
    command:
      ["run", "--summary-export=/results/summary.json", "/src/loadTest.js"]
